# Ignore everything
*

# Allow only specific files
!Bank_pre_realease
!banktry.exe
!command.txt
!users.txt
!transactions.txt

# Ignore system files
.DS_Store
Thumbs.db

# Ignore build and cache directories
.vscode/
.idea/
.vs/
.xmake/
build/
